<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Guestbook</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="jumbotron text-center col-sm-12">
          <h1>Welcome to the Guestbook</h1>
          <a class="btn btn-primary mt-4 pb-1" href="{% url 'sign' %}">Sign the Guestbook</a>
        </div>
      </div>
      {% for entry in entries %}
      <div class="row mb-2">
        <div class="media col-sm-8 justify-content-center align-items-center text-center">
          <div class="media-body col-sm-8">
            <h4 class="mt-0 text-left">{{entry.author}}</h4>
          </div>
        </div>
        <div class="media col-sm-4">
          <div class="media-body">
             <span class="text-right">{{entry.date_added}}</span>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-sm-4"></div>
        <div class="ml-5 col-sm-4 text-nowrap text-truncate text-center">
          {{entry.entry}}
        </div>
        <div class="col-sm-4"></div>
      </div>
      {% endfor %}
      <h1></h1>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>