<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Guestbook - New Entry</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center jumbotron">
          <h5>Sign new Entry</h5>
        </div>
      </div>
      {% if message != '' %}
      <div class="row text-center jusitfy-content-center col-sm-12">
        <div class="alert alert-danger">{{message}}</div>
      </div>
      {% endif %}
      <div class="row text-center justify-content-center col-sm-12">
        <form method="POST" action="{% url 'sign' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="author" class="sr-only">Name</label>
            {{ form.author }}
          </div>
          <div class="form-group">
              <label for="entry" class="sr-only">Entry</label>
              {{ form.entry }}
          </div>
          <div class="form-group">
            <label for="submit-btn" class="sr-only">Submit new Entry</label>
            <button class="btn btn-primary" id="submit-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>